*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    align-items: center;
    background-color: antiquewhite;
    height: 100vh;
}

.box{
    /*flex: 1 helps to cover all the gap*/
    width:200px;
    height:200px;
    background-color:lightblue;
}

.container :nth-child(even){
    background-color: pink;
}